/* Font Import Here */
@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.04rem;
}
html {
  font-size: 16px;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  background-color: #000;
  color: #fff;
}

/* Styles for frequently uses */

.text-gray {
  color: rgba(255, 255, 255, 0.5);
}
.para {
  font-size: 1rem;
}
.text-highlight {
  color: rgba(230, 83, 60, 1);
}
.highlight-bg {
  background-color: rgba(230, 83, 60, 1);
}
.btn {
  outline: 0;
  border-radius: 75px;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 1rem 3rem;
  cursor: pointer;
  margin-top: 2rem;
  font-weight: 500;
}
.max-1200 {
  max-width: 1200px;
  margin: 0 auto;
}
.section-heading {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.section-margin-bottom {
  margin-bottom: 6rem;
}
.text-center {
  text-align: center;
}

/* ------------------------------------- */

/* styles for header */
.header-container {
  padding-top: 2rem;
  background-image: linear-gradient(rgba(119, 119, 119, 0.4), rgb(0, 0, 0));
}

/* styles for navbar */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  margin-bottom: 2rem;
}
.nav-container .nav-logo h1 {
  font-size: 2rem;
  cursor: pointer;
}
.nav-links-container .nav-bar {
  display: none;
  font-size: 1.5rem;
}
.nav-links-container .nav-links {
  display: flex;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 75px;
  gap: 10px;
}
.nav-links .link a {
  text-decoration: none;
  padding: 8px 20px;
  color: #fff;
  display: inline-block;
}
#link-home {
  border-radius: 75px;
  font-weight: 500;
}

/* styles for heading banner */
.heading-banner-container {
  display: flex;
  align-items: center;
}
.left-part,
.right-part {
  flex: 1;
}
.heading-banner-container .left-part .title {
  font-size: 4.5rem;
  line-height: 4.5rem;
  margin-bottom: 2rem;
}
.left-part .title > span {
  font-family: "Grey Qo", cursive;
  font-size: 8rem;
  font-weight: 300;
  color: yellow;
}
.left-part .btn-group {
  display: flex;
  gap: 1rem;
}
.btn-group button:last-child {
  background-color: transparent;
  border: 1px solid #fff;
}

.heading-banner-container .right-part {
  text-align: right;
  position: relative;
}
.right-part img {
  position: relative;
}
.right-part .workout-video,
.right-part .video-tutorial {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: absolute;
  padding: 1rem 1.25rem;
  border-radius: 0.75rem;
  backdrop-filter: blur(5px);
}
.right-part .workout-video {
  top: 25%;
  right: -15%;
}
.right-part .video-tutorial {
  left: 25%;
  bottom: 10%;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.video-tutorial .circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.right-part .workout-video h1 {
  font-size: 2.5rem;
}

/* Change Habit Section */
.change-habit .habit-title-and-descrip,
.bmi-calculator .calculator-header,
.meet-our-team .team-title-and-descrip,
.customer-review .review-title-and-descrip {
  max-width: 650px;
  margin: 0 auto;
}
.change-habit .habits-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 3rem;
}
.habit-container .habit-profile {
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 0.5rem;
}
.habit-container .habit-title {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

/* Run Extra */
.run-extra {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: rgba(34, 34, 34, 1);
  border-radius: 1rem;
}
.run-extra .left-side,
.run-extra .right-side {
  flex: 1;
}
.run-extra .right-side .img-container {
  width: 350px;
  height: 280px;
  margin-left: auto;
  background-image: url("../images/run.jpg");
  background-size: 250%;
  background-position: 70% 40%;
  border-radius: 0.75rem;
}

/* BMI Calculator Section */
.bmi-calculator .calculator-header {
    margin-bottom: 4rem;
}
.calculator-ui-container {
    background-color: rgba(34, 34, 34, 1);
    padding: 3rem 0;
}
.calculator-ui-container .ui-parent {
    display: flex;
    gap: 5rem;
}
.ui-parent .bmi-chart {
    flex: 1;
}
.ui-parent .calculate-section {
    flex: 2;
}
.ui-parent .bmi-sec-heading,
.footer-container .top-flex-item .footer-sub-heading {
    font-size: 1.75rem;
    margin-bottom: 2rem;
}
.bmi-chart table,
.bmi-chart th,
.bmi-chart td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 1rem 1.2rem;
}
.bmi-chart th {
    text-align: left;
}
.calculate-section form {
    margin-top: 1.75rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
}
form #activity {
    grid-column: span 2;
}
form input,
form select {
    padding: 0.75rem 1.25rem;
    outline: 0;
    border: none;
    border-radius: 0.25rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    width: 100%;
}
form select,
form input::placeholder {
    color: rgba(255, 255, 255, 0.4);
}
form select option {
    background-color: #000;
}
form button#form-btn {
    width: max-content;
    margin-top: 1rem;
}

/* Meet our team */
.meet-our-team .team-profiles-container {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1.25rem;
  border-radius: 0.5rem;
  height: 65vh;
}
.team-profiles-container .profile {
  border-radius: 0.5rem;
  background-size: cover;
  display: flex;
  align-items: end;
  padding: 1rem;
}
.profile:nth-child(1) {
  background-image: 
    linear-gradient(360deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)),
    url("../images/trainer1.png");
}
.profile:nth-child(2) {
  background-image: 
    linear-gradient(360deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)),
    url("../images/trainer2.png");
}
.profile:nth-child(3) {
  background-image: 
    linear-gradient(360deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)),
    url("../images/trainer3.png");
}
.profile:nth-child(4) {
  background-image: 
    linear-gradient(360deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)),
    url("../images/trainer4.png");
}
.profile:nth-child(5) {
  background-image: 
    linear-gradient(360deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)),
    url("../images/trainer5.png");
}
.profile:nth-child(6) {
  background-image: 
    linear-gradient(360deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)),
    url("../images/trainer6.png");
}

/* Customer Review */
.customer-review .reviews-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 7rem;
  position: relative;
  
}
.customer-review .reviews-container::before {
  content: '<';
}
.customer-review .reviews-container::after {
  content: '>';
}
.customer-review .reviews-container::before,
.customer-review .reviews-container::after {
  font-size: 5rem;
  font-weight: 900;
  cursor: pointer;
  height: max-content;
  color: rgba(230, 83, 60, 1);
}
.reviews-container .review {
  background-color: #1a1a1a;
  padding: 0 1.5rem 1.5rem;
  border-radius: 0.25rem;
  position: relative;
  flex: 1;
  min-height: 20rem;
}
.review .reviewer-profile {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  margin: -4rem auto 1.5rem;
  box-sizing: content-box;
  border: 0.4rem solid #1a1a1a;
  background-size: cover;
}
.reviews-container .review::before {
  content: '🙶';
  font-size: 9rem;
  color: rgba(255, 255, 255, 0.05);
  position: absolute;
  left: 2%;
  top: -5%;
}
.review .review-details {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

/* Footer Section */
.footer-container {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-top {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 5rem;
  padding: 4rem 0;
}
.footer-container .top-flex-item .footer-sub-heading {
  margin-bottom: 1rem;
}
.top-flex-item .our-logo {
  font-size: 4rem;
  font-style: italic;
  margin-bottom: 1.25rem;
}
.top-flex-item ul {
  list-style-type: none;
}
.top-flex-item ul li {
  padding: 0.25rem 0;
}
.top-flex-item li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
}
.top-flex-item li a:hover {
  text-decoration: underline;
}
.footer-bottom {
  padding-bottom: 1.5rem;
}
.footer-bottom .horizontal-line {
  margin-bottom: 1.25rem ;
  height: 0.15rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-bottom p {
  font-size: 1.15rem;
}



/* --------------------------------------- */
/* making responsive for mobile device */
@media screen and (max-width: 576px) {
  html {
    font-size: 12px;
  }

  .header-container {
    padding: 1.25rem;
  }
  /* nav */
  .nav-links-container .nav-links {
    display: none;
  }
  .nav-links-container .nav-bar {
    display: block;
  }
  /* heading banner container */
  .heading-banner-container {
    flex-direction: column;
  }
  .right-part .workout-video {
    right: 0;
  }
  .right-part .video-tutorial {
    left: 0;
  }
  /* change habit */
  .change-habit .habit-title-and-descrip {
    padding: 0 1rem;
  }
  .change-habit .habits-group,
  .meet-our-team .team-profiles-container,
  .footer-container .footer-top {
    grid-template-columns: 1fr;
  }
  .change-habit .habits-group {
    gap: 2rem;
    max-width: 70%;
    margin: 3rem auto 0 auto;
  }
  /* run extra */
  .run-extra {
    flex-direction: column;
    gap: 2rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
  .right-side {
    align-self: flex-start;
    width: 100%;
  }
  .run-extra .right-side .img-container {
    max-width: 100%;
    margin-left: 0;
  }
  /* BMI calculaor section */
  .bmi-calculator .calculator-header,
  .meet-our-team .team-title-and-descrip,
  .meet-our-team .team-profiles-container,
  .customer-review .review-title-and-descrip,
  .customer-review .reviews-container,
  .footer-container .footer-top-and-bottom {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
  .calculator-ui-container .ui-parent {
    flex-direction: column;
    padding: 1.25rem;
  }
  .ui-parent .calculate-section {
    flex: 1;
  }
  .calculate-section form {
    width: 100%;
  }
  /* Meet Our Team */
  .meet-our-team .team-profiles-container {
    height: 200vh;
  }
  /* Customer Review */
  .customer-review .reviews-container .review:nth-child(1),
  .customer-review .reviews-container .review:nth-child(2) {
    display: none;
  }
  .reviews-container .review::before {
    display: none;
  }
  /* Footer */
  .footer-top {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2.5rem 0;
  }
  .footer-bottom {
    text-align: left;
  }
}
